header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#logo {
  text-align: center;
  margin: 0;
}

#content{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

h3 {
  margin: 0 0 1em 0;
  padding-top: 20px;
}


nav {
  text-align: center;
  padding: 10px 0;
  margin: 15px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}  

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}


footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;

  color: #ccc;
}

form {
    width: 100%;
    padding: 5%;
    border: 2px solid #CCC;
    border-radius: 1em;
    box-sizing: border-box;
}

form div + div {
    margin-top: 1em;
}

label {
    display: block;
    width: 5%;
}

textarea {
    height: 200px;
}

input, textarea {
    width: 100%;
    border: 2px solid #999;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border-color: #000;
}

button {
    background-color: #6ab47b;
    padding: 1%;
    border-radius: 1em;
    border: 0px #CCC;
}


/*********************************
COLORS
**********************************/

/* site body*/
body {
  background-color: #fff;
  color: #999;
}

/* green header */
header {
  background: #6ab47b;
  border-color: #599a68
}

/* nav background on mobile */
nav {
  background: #599a68;
}

/* logo text */
header h1, h2 {
  color: #fff
}


/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #32673f
}

