<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Python Learning Journal</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/static/normalize.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="/static/responsive.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <a href="/" id="logo">
        <h1>Constantine Hatzis</h1>
        <h2>Code Fellows Python Development Accelerator Learning Journal</h2>
      </a>
      <nav id="user-controls">
        <ul>
        {% if not request.authenticated_userid %}
          <li><a href="{{ request.route_url('login') }}">Log In</a></li>
        {% else %}
          <li><a href="{{ request.route_url('logout') }}">Log Out</a></li>
        {% endif %}
        </ul>
      </nav>
    </header>
    
    <section id="content">
      {% block body %}{% endblock %}
    </section>

    <footer>
      <p>Created in the Code Fellows Python Dev Accelerator</p>
    </footer>
  
  </body>
</html>
