<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Constantine Hatzis' Learning Journal</title>
    <link rel="stylesheet" href="normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <a href="index.html" id="logo">
        <h1>Constantine Hatzis</h1>
        <h2>Code Fellows Python Development Accelerator Learning Journal</h2>
      </a>
      <nav>
        <ul>
          <li><a href="index.html" class="selected">Home</a></li>
          <li><a href="create.html">Create</a></li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <section>
        <ul id="gallery">
          <li><a href="detail.html">Date: Title</a></li>
          <li><a href="detail.html">Date: Title</a></li>
          <li><a href="detail.html">Date: Title</a></li>
        </ul>
      </section>
      <footer>
        <p>&copy; 2015 Constantine Hatzis.</p>
      </footer>
    </div>
  </body>
</html>